body {
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0px;
  text-align: justify;
  background-image: url(big-graph.png);
  background-position: center;
  background-position-y:top ;
}

p:first-letter {
  margin-left: 15px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2,
h3 {
  font-style: italic;
}

#jobbra {
  float: right;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-style: italic;
  font-size: 0.7em;
  color: #FF0000;
  image-resolution: calc(400px);
  border: 1px #FF0000  solid;
  background-color: #ffffff;
}

#jobbra img {
  width: 400px;
  height: auto;
  margin-bottom: 5px;
}

.kerdeskep {
  float: left;
  margin-right: 20px;
}

a {
  color: red;
}

.container {
  border: 2px solid #FF0000;
  background-color: #ffffff ;
  float: right;
  margin-left: 20px;
  padding: 10px;
  width: 400px;
}

.kn {
  font-style: italic;
}